NODE_ENV=
PORT=
HOST=0.0.0.0
SERVER_HOST=
LOCAL_SERVER_URL=https://localhost:5000
LOCAL_CLIENT_URL=https://localhost:3000
VM_SERVER_URL=
VM_CLIENT_URL=
MONGO_URI=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SERVER_URL=
CLIENT_URL=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
OTP_EXPIRY_MINUTES=
SESSION_SECRET=
